.main {
  height: 100%;
  width: 100%;
  position: relative;

  .nav {
    display: grid;
    grid-template-columns: 5fr 1.2fr;

    .typesPizza {
      display: flex;
      gap: 30px;
      margin: 5px;

      li {
        background-color: #f9f9f9;
        padding: 8px 20px;
        border-radius: 30px;
        margin-right: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;

        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }

        &:active {
          background-color: darken(#f9f9f9, 5%);
        }

        &.active {
          background-color: #282828;
          color: #fff;
        }
      }
    }

    .filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      padding: 5px;
      border-radius: 10px;

      .selector {
        color: orange;
      }
    }
  }

  .wrapperAllProducts {
    .allProducts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      justify-self: center;

      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 310px;
        transition: all 0.3s ease;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h2 {
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        img {
          padding-left: 12px;
        }

        .specification {
          background-color: gainsboro;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          border-radius: 10px;
          padding: 5px;

          .wrapperDough {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .dough {
              padding: 5px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 19px;
              cursor: pointer;
              width: 100%;
            }
            .active {
              width: 100%;
              padding: 5px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 19px;
              background: #ffffff;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
              cursor: pointer;
            }
          }

          .sizes {
            margin-top: 5px;
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .size {
              padding: 5px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              width: 100%;
            }
            .active {
              width: 100%;
              padding: 5px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #ffffff;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
              cursor: pointer;
            }
          }
        }

        .handlerOrder {
          margin-top: 20px;
          display: flex;
          width: 100%;
          justify-content: space-between;

          .price {
            font-size: 20px;
            font-weight: bold;
          }

          .btnAddProducts {
            padding: 5px;
            color: orange;
            box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.15);
          }
        }

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  .containerPagination {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;

    .page {
      border: 1px solid;
      padding: 5px;
    }
  }
}
